body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 1.2rem;
  background-color: #f3f3f3;
}

.titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titlebar a {
  color: #333333;
  font-size: 1.25rem;
  margin: 1rem 1rem;
  text-decoration: none;
}
.titlebar a:hover {
  color: #888888;
}
.titlebar div {
  display: flex;
}
.home-link {
  font-weight: bold;
}

.content {
  margin: 40px auto;
  line-height: 1.4;
  max-width: 700px;
  display: flex;
  flex-direction: column;
}
.subtitle {
  font-style: italic;
  font-size: 1rem;
  margin-top: 0;
}
a {
  color: #0077ff;
  text-decoration: none;
}

a:hover {
  color: #62abff;
}
