body {
  display: flex;
  align-items: center;
  font-family: verdana, sans-serif;
  max-width: 30em;
  margin: 3em auto;
  padding: 0 .62em;
}
p {
	margin:0 0 10px;
}
h1,h2,h3,h4,h5 {
	line-height: 1.2;
}
.picture {
  flex: 1;
  margin-right: 2em;
}
.picture img {
  width: 200px;
  height: 300px;
}
.info {
  flex: 2;
}
