.content {
  display: flex;
  align-items: center;
  flex-direction: row;
}

p {
  margin: 0 0 10px;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}
.picture {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin-right: 2em;
  border-radius: 5px;
}
.picture img {
  width: 240px;
  height: 320px;
  border-radius: 5px;
}
.info {
  flex: 1;
}
