body {
  font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
  margin: 40px auto;
  max-width: 700px;
  line-height: 1.4;
  font-size: 1.25rem;
  background-color: #f3f3f3;
}

p {
  font-family: "Open Sans", "Arial", sans-serif;
}

span div,
input {
  margin: 0 1em;
}
span,
.input {
  display: flex;
  align-items: center;
}

input,
.data {
  border-radius: 2px;
  border: 2px solid transparent;
  background-color: white;
}

h1 {
  display: flex;
  justify-content: center;
}

.output {
  flex: 1 1 0;
  margin-left: 8px;
  display: flex;
  align-items: center;
}
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputs {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.function {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Courier New", "Courier", "Lucida Sans Typewriter",
    "Lucida Typewriter", monospace;
}

.vigenere-example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", "Courier", "Lucida Sans Typewriter",
    "Lucida Typewriter", monospace;
  line-height: 1em;
}
#caesar-intro-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  font-size: 36px;
  font-family: "Courier New", "Courier", "Lucida Sans Typewriter",
    "Lucida Typewriter", monospace;
  font-weight: bold;
  color: #006eff;
  height: 1em;
  line-height: 1;
}
#caesar-intro-animation {
  position: relative;
  animation-duration: 4s;
  animation-name: caesar-intro;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes caesar-intro {
  from {
    top: 0px;
  }

  20% {
    top: 0px;
  }

  40% {
    top: -1em;
  }

  60% {
    top: -1em;
  }

  80% {
    top: -2em;
  }

  to {
    top: -2em;
  }
}

.labelled-data {
  display: flex;
  flex-direction: column;
}
.side {
  display: flex;
  align-items: center;
}
.side.left {
  justify-content: flex-end;
}
.labelled-data .label {
  font-weight: bold;
  font-size: 1rem;
  margin-left: 1rem;
}
.labelled-data .data {
  height: 32px;
  font-size: 18px;
  margin: 0 8px;
  width: 12em;
  font-family: "Courier New", "Courier", "Lucida Sans Typewriter",
    "Lucida Typewriter", monospace;
}
.labelled-data.short .data {
  width: 42px;
}
.data.data-output {
  background-color: lightgray;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: scroll;
}
.example {
  margin: 4rem 0;
}

.arrow-container {
  display: flex;
  flex-direction: column;
}
.symbol {
  margin-top: 1.5rem;
  font-size: 36px;
  line-height: 1;
}
